.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
    .header {
    background-image: url('../images/recipe-app-background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1; 
  }
  
  .search-bar {
    position: absolute;
    bottom: 20px; 
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 300px; 
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(81, 122, 162);
  }
  
  .body-content {
    margin-top: 500px; 
    padding: 20px;
    background-color: #6f94b3; 
    flex: 1; 
    overflow-y: auto; 
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));     gap: 20px; 
  }
  